<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcP0MGQp3HoJSQXkqSZLZoTMS_mrOc_cI</string>
	<key>GCM_SENDER_ID</key>
	<string>595453690388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.platinny.user</string>
	<key>PROJECT_ID</key>
	<string>platinny-com</string>
	<key>STORAGE_BUCKET</key>
	<string>platinny-com.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595453690388:ios:2fda1124d2d8a3332f5d01</string>
	<key>DATABASE_URL</key>
	<string>https://platinny-com-default-rtdb.firebaseio.com</string>
</dict>
</plist>